body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f3f7f9;
}

.main-header-up {
  line-height: 18px;
  font-size: 17px;
  background-color: #293449;
  color: #ffffff;
  font-family: "Cuprum";
}

.user-data a:nth-child(2) {
  color: #000000;
}

.user-data a:nth-child(2):active,
.user-menu-list a:active {
  opacity: 0.3;
}

.user-menu-list {
  line-height: 18px;
  font-size: 16px;
  color: #32425c;
  font-family: "Cuprum";
}

.user-menu-list a:hover {
  color: #ee3643
}

.user-data svg:first-child:hover path {
  fill: #000000;
}

.user-data svg:first-child:active path {
  fill: #c5c5c5;
}

.user-menu-list li:first-child {
  list-style: none;
  padding-right: 30px;
}

.user-menu-list a {
  text-decoration: underline;
}

.main-header-up a {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.main-header-up label {
  line-height: 18px;
  font-size: 17px;
  font-family: "Cuprum";
  color: #ffffff;
  min-height: 44px;
}

.search {
  position: relative;
  background-color: #293449;
  border: none;
  line-height: 18px;
  font-size: 17px;
  font-family: "Cuprum";
  color: #ffffff;
  padding: 0 10px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  min-height: 44px;
  min-width: 230px;
}

.search:focus {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.search:focus+.search-label,
.search:focus+.search-label path {
  background-color: #ffffff;
  fill: #f26973;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.button-user:hover,
.button-user:focus,
.search:hover,
.search-label:hover {
  background-color: #212a3a;
}

.search-label svg {
  padding: 10px 15px;
}

.search-label {
  cursor: pointer;
}

.button-user:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-menu-button-order {
  background-color: #63a63e;
}

.user-menu-button-order:hover,
.user-menu-button-order:focus {
  background-color: #5fbb2d;
}

.user-menu-button-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6);
}

.main-page-title {
  line-height: 23px;
  font-size: 16px;
  color: #ee3643;
  font-family: "Cuprum";
  font-style: italic;
}

.main-header-contacts a {
  line-height: 21px;
  font-size: 21px;
  border: 3px solid #feffff;
  color: #ee3643;
  font-family: "Cuprum";
}

.main-header-contacts p {
  line-height: 24px;
  font-size: 14px;
  color: #32425c;
  font-family: "Cuprum";
}

.button-login {
  text-align: center;
  vertical-align: middle;
  line-height: 21px;
  font-size: 21px;
  font-family: "Cuprum";
  color: #000000;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.button-login:hover,
.button-login:focus {
  color: #ee3643;
}

.button-login:active {
  color: rgba(0, 0, 0, 0.302);
}

.main-navigation ul {
  line-height: 17px;
  font-size: 17px;
  font-family: "Cuprum";
  color: #ffffff;
  list-style: none;
}

.main-navigation-point {
  background-color: #32425c;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation-point:hover,
.main-navigation-point:focus {
  background-color: #293449;
}

.main-navigation-point:active {
  background-color: #1d2739;
}

.main-navigation-point a:active {
  color: rgba(255, 255, 255, 0.502);
}

.service {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
  color: #000000;
  background-color: #f4f8f9;
}

.service h3 {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #000000;
}

.service-button {
  line-height: 30px;
  font-size: 21px;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 1px #293449;
  box-shadow: 0px 0px 0px 1px #293449;
}

.service b {
  line-height: 36px;
  font-size: 36px;
  font-family: "Cuprum";
  color: #32425c;
}

.transport-companies {
  line-height: 24px;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
}

.transport-companies b {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #000000;
}

.transport-companies a {
  line-height: 20px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #000000;
}

.transport-companies .links,
.contacts-map button {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

a.links {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

a.links:hover,
a.links:focus,
.links:hover,
.links:focus {
  background-color: #ca2c37;
}

a.links:active,
.links:active {
  background-color: #ba2732;
  color: rgba(255, 255, 255, 0.8);
}

.contacts-map h2 {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #000000;
  margin: 0;
  padding: 0;
}

.contacts-map {
  line-height: 24px;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
}

.main-footer-up {
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #f3f7f9;
  background-color: #32425c;
}

.main-footer ul {
  list-style: none;
}

.main-footer-menu a {
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #f3f7f9;
}

.main-footer-menu-point a:hover,
.main-footer-menu-point a:focus {
  text-decoration: underline;
}

.main-footer-menu-point a:active {
  color: rgba(241, 245, 247, 0.502);
  text-decoration: none;
}

.main-footer-address {
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #f3f7f9;
}

.tel {
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #f3f7f9;
}

.main-footer-menu-item a {
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #ffda96;
}

.main-footer-menu-item-point a:hover,
.main-footer-menu-item-point a:focus {
  text-decoration: underline;
}

.main-footer-menu-item-point a:active {
  color: rgba(255, 209, 128, 0.502);
  text-decoration: none;
}

.main-footer-bottom {
  line-height: 18px;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
  background-color: #293449;
}

.social-link {
  background-color: #212a3a;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

.copyright {
  line-height: 18px;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
}

.footer-feedback {
  line-height: 18px;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
}

.footer-developed {
  line-height: 18px;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
}

.footer-feedback a {
  line-height: 18px;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffd180;
}

.footer-developed a {
  line-height: 18px;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-developed a:hover,
.footer-developed a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.modul-login-icon {
  outline: none;
}

.modul-login-icon:hover {
  border-color: #b5b5b5;
}

.modul-login-icon:focus {
  border-color: #ee3643;
}

.modul-submit-letter {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
}

.user-data {
  line-height: 21px;
  font-size: 21px;
  font-family: "Cuprum";
  color: #32425c;
}

.open-page a {
  line-height: 18px;
  font-size: 13px;
  color: #000000;
  font-family: "PT Sans";
}

.main-title {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  line-height: 30px;
  font-size: 17px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.filters ul {
  list-style: none;
}

.filter-input {
  line-height: 20px;
  font-size: 15px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
}

.filter-input+label:active {
  color: rgba(0, 0, 0, 0.4);
}

.filter-option input+label {
  line-height: 20px;
  font-size: 15px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
}

.filter-option input+label:active {
  color: rgba(0, 0, 0, 0.4);
}

.button {
  line-height: 18px;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
}

.catalog-list h3 {
  line-height: 20px;
  font-size: 18px;
  font-family: "PT Sans";
  color: #000000;
}

.catalog-item-title {
  line-height: 20px;
  font-size: 18px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-price-former {
  line-height: 18px;
  font-size: 17px;
  font-family: "PT Sans";
  color: #999999;
}

.catalog-item-price {
  line-height: 18px;
  font-size: 17px;
  font-family: "PT Sans";
  color: #000000;
}

.catalog-item-news {
  line-height: 5.13px;
  font-size: 4.85px;
  font-family: "PT Sans";
  color: #999999;
  text-transform: uppercase;
}

.catalog-item:hover,
.catalog-item-focus {
  -webkit-box-shadow: 0px 10px 50px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 50px 25px rgba(41, 52, 73, 0.5);
  z-index: 5;
}

.modul-price button {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  text-transform: uppercase;
}

.modul-price p {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  text-transform: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-up {
  margin-bottom: 45px;
}

.main-header-up {
  width: 100%;
}

.header-up-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap
}

.header-bottom-grid {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main-page-title {
  margin-left: 50px;
  margin-right: 60px;
  width: 210px;
}

.main-header-contacts {
  width: 300px;
  margin-right: 50px;
}

.personal-area-close {
  width: 300px;
  margin-right: auto;
}

.service-slider-controls {
  position: relative;
  padding: 0;
  margin-top: 67px;
  margin-right: 80px;
  margin-bottom: 98px;
  width: 240px;
  margin-right: 80px;
}

.service-slider-controls::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 279px;
  left: 230px;
  top: -45px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.service {
  margin-bottom: 82px;
}

.service input[type='radio'] {
  display: none;
}

.service-slide {
  margin-bottom: 130px;
}

.service-slider-btn-1:checked~.service-slider-controls .control-1,
.service-slider-btn-2:checked~.service-slider-controls .control-2,
.service-slider-btn-3:checked~.service-slider-controls .control-3 {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.service-slider-control {
  border: none;
  display: block;
  padding: 16px 140px 16px 20px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  font-size: 21px;
  line-height: 30px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  cursor: pointer;
  text-align: left;
}

.service-slider-control:hover {
  background-color: #293449;
}

.service-slide_current {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.service-all-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  margin-bottom: 52px;
}

.delivery-grid {
  position: relative;
  width: 620px;
}

.slide-1::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 360px;
  left: 150px;
  top: 25px;
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-2::after {
  content: "";
  position: absolute;
  width: 460px;
  height: 360px;
  left: 240px;
  top: 0px;
  background-image: url("../img/garanty.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 10;
}

.slide-3::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 360px;
  left: 140px;
  top: 10px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 20;
}

.slide-3 a {
  position: absolute;
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  padding: 10px 45px;
  background-color: #ee3643;
  border-radius: 5px 5px;
  z-index: 20;
  margin-top: 30px;
}

.slide-3 a:hover,
.slide-3 a:focus {
  background-color: #ca2c37;
}

.slide-3 a:active {
  background-color: #ba2732;
}

.service-slider-btn-1:checked~.delivery-grid .slide-1 {
  display: block;
}

.service-slider-btn-2:checked~.delivery-grid .slide-2 {
  display: block;
}

.service-slider-btn-3:checked~.delivery-grid .slide-3 {
  display: block;
}

.service-grid {
  width: 410px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.service-slide {
  position: absolute;
  display: none
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 85px;
}

.transport-companies {
  width: 540px;
  margin-right: 100px;
}

.contacts-map {
  width: 300px;
  margin-left: auto;
}

.main-map {
  width: 300px;
  height: 160px;
}

.main-footer-up {
  margin-bottom: 0;
}

.main-footer-up-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 53px;
}

.main-footer-logo-grid {
  width: 220px;
}

.main-footer-menu {
  width: 550px;
  margin-left: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer-address {
  width: 380px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.main-footer-menu-item {
  width: 540px;
  margin-left: auto;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer-bottom-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 35px
}

.copyright-grid {
  margin-right: 150px;
}

.footer-social {
  width: 130px;
  margin-right: 120px;
}

.feedback-grid {
  width: 140px;
  margin-right: 50px;
}

.develop-grid {
  width: 110px;
  margin-right: 0;
}

.open-page {
  width: 380px;
}

.main-title {
  margin: 0;
  width: 100%;
}

.catalog-filters-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px;
}

.filters {
  width: 220px;
}

.catalog {
  margin-left: auto;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 700px;
  padding-left: 0;
  margin-top: 0;
}

.catalog-item {
  min-width: 218px;
  min-height: 315px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  outline: 1px solid #e5e5e5;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.grid-footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid-footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer-menu-item,
.main-footer-menu {
  padding-left: 0;
}

.main-footer-logo {
  background-color: #ee3643;
  background-size: 220px 63px;
  -webkit-box-shadow: 0px 5px 0px 0px #b52933;
  box-shadow: 0px 5px 0px 0px #b52933;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-imagen {
  width: 110px;
  height: 20px;
  padding: 11px 55px;
}

.main-header-logo {
  display: block;
  width: 220px;
  height: 43px;
  background-color: #db3644;
  -webkit-box-shadow: 0px 5px 0px 0px #9a212a;
  box-shadow: 0px 5px 0px 0px #9a212a;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.button-user {
  min-width: 90px;
  display: block;
  padding: 13px 20px;
  padding-left: 40px;
}

.user-menu-button-order {
  padding: 13px 15px;
}

.basket-grid {
  position: relative;
}

.basket-grid a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 15px;
  top: 12px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  width: 272px;
}

.bookmarks-grid {
  position: relative;
}

.bookmarks-grid a::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 15px;
  top: 12px;
  background-image: url("../img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3
}

.basket-grid a:hover::before,
.basket-grid a:focus::before,
.bookmarks-grid a:hover::before,
.bookmarks-grid a:focus::before {
  opacity: 1;
}

.basket-grid a:active::before,
.bookmarks-grid a:active::before {
  opacity: 0.5;
}

.main-header-contacts {
  width: 270px;
  position: relative;
}

.main-header-contacts a {
  display: inline-block;
  padding: 10px 30px;
  padding-left: 70px;
  vertical-align: middle;
}

.main-header-contacts::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 17px;
  width: 17px;
  height: 20px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-contacts p {
  margin-left: 10px;
}

.personal-area-close {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  max-width: 280px;
  max-height: 45px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.svg-icon-login {
  position: absolute;
  left: 10px;
  top: 13px;
}

.personal-area-close button:hover path,
.personal-area-close button:focus path {
  fill: #32425c;
}

.personal-area-close button:active path {
  fill: #c5c5c5;
}

.personal-area-close button:nth-child(1) {
  max-width: 120px;
  height: 45px;
  margin-right: 10px;
  padding: 12px 25px 12px 45px;
}

.personal-area-close button:nth-child(2) {
  max-width: 150px;
  height: 45px;
  padding: 12px 25px;
}

.main-navigation ul,
.main-navigation li {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-navigation a {
  display: block;
  padding: 19px 30px;
  vertical-align: middle;
}

.shadow-grid {
  position: relative;
}

.shadow-grid::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100px;
  left: 20px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.service-grid {
  margin-top: 65px;
}

.delivery-grid {
  margin-top: 65px;
}

.service-grid h3 {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.delivery-grid b {
  display: block;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.delivery-grid p,
.service-grid p {
  margin: 0;
}

.service-button-current_hidden {
  background-color: #ffffff;
  color: #000000;
}

.transport-companies b,
.contacts-map h2 {
  text-transform: uppercase;
}

.transport-companies li:first-child {
  margin-top: 25px;
}

.transport-companies li:last-child {
  margin-bottom: 35px;
}

.transport-companies li {
  position: relative;
  margin-top: 20px;
  list-style: none;
}

.transport-companies li::before {
  position: absolute;
  content: "";
  background-color: #ee3643;
  width: 25px;
  height: 2px;
  top: 10px;
  left: -40px;
  background-position: 0 0;
}

.transport-companies .first-page {
  margin-bottom: 28px;
}

.links {
  padding: 10px 40px;
  border-radius: 5px 5px;
  text-transform: uppercase;
  min-width: 220px;
  min-height: 38px;
  cursor: pointer;
}

.contacts-map p {
  margin-bottom: 35px;
}

.contacts-map img {
  margin-bottom: 40px;
}

.links-map {
  width: 100%;
}

.logo-imagen-footer {
  width: 140px;
  height: 20px;
  padding: 21px 42px;
}

.main-header-logo-footer {
  display: block;
  width: 220px;
  height: 63px;
  background-color: #db3644;
  -webkit-box-shadow: 0px 5px 0px 0px #9a212a;
  box-shadow: 0px 5px 0px 0px #9a212a;
}

.main-header-logo-footer:hover,
.main-header-logo-footer:focus {
  background-color: #ca2c37;
}

.main-header-logo-footer:active {
  background-color: #ba2732;
}

.main-footer-address p {
  margin: 0;
  margin-top: 30px;
}

.footer-social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 130px;
  margin-bottom: 30px;
}

.social-link {
  display: block;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.vk-icon {
  padding-left: 6px;
  padding-top: 12px;
}

.fb-icon {
  padding-left: 14px;
  padding-top: 9px;
}

.insta-icon {
  padding-left: 10px;
  padding-top: 9px;
}

.all-modul-map {
  display: none;
  position: fixed;
  width: 940px;
  height: 445px;
  -webkit-box-shadow: 0px 20px 60px 0px black;
  box-shadow: 0px 20px 60px 0px black;
  background-color: #ffffff;
  left: 50%;
  -webkit-transform: translate(-460px, -216px);
  -ms-transform: translate(-460px, -216px);
  transform: translate(-460px, -216px);
  top: 50%;
  z-index: 50;
}

.all-modul-map div {
  position: absolute;
  margin: -15px -15px;
  padding: 0;
  bottom: -10px;
  left: 5px;
}

.all-modul-map iframe {
  position: absolute;
  z-index: 40;
}

.all-modul-letter {
  display: none;
  line-height: 18px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #000000;
  background-color: #ffffff;
  position: fixed;
  width: 622px;
  height: 432px;
  -webkit-box-shadow: 0px 20px 60px 0px black;
  box-shadow: 0px 20px 60px 0px black;
  background-color: #ffffff;
  left: 50%;
  -webkit-transform: translate(-311px, -216px);
  -ms-transform: translate(-311px, -216px);
  transform: translate(-311px, -216px);
  top: 50%;
  z-index: 50;
}

.all-modul-letter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #ff5257;
}

.all-modul-letter-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 55px 80px 37px 80px;
}

.all-modul-letter-grid label {
  padding-bottom: 10px;
}

.modul-name-grid {
  margin-right: 20px;
}

.modul-login-icon {
  padding: 7px 40px 7px 14px;
}

.modul-button-grid-index {
  background-color: #f1f1f1;
  padding: 35px 80px;
}

.mudul-letter-submit {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 198px;
  background-color: #ee3643;
  border: none;
  cursor: pointer;
}

.modul-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 935px;
  height: 550px;
  margin-top: -200px;
  margin-left: -500px;
}

.modul-map p {
  margin: 0;
}

.modul-map img {
  width: 950px;
  height: 460px;
}

.basket-grid-catalog a {
  position: relative;
}

.basket-icon-grid {
  position: absolute;
  left: 15px;
  top: 12px;
}

.basket-grid-catalog a:hover path,
.basket-grid-catalog a:hover circle,
.basket-grid-catalog a:focus path,
.basket-grid-catalog a:focus circle,
.basket-grid-catalog a:active path,
.basket-grid-catalog a:active circle {
  fill: #ffffff;
}

.user-data {
  position: relative;
  width: 300px;
  max-height: 45px;
  background-color: #ffffff;
  margin-left: auto;
}

.user-data a:nth-child(2) {
  display: block;
  margin: 12px 60px 12px 40px;
}

.svg-icon-login-catalog {
  position: absolute;
  right: 10px;
  top: 14px;
}

.svg-icon-user-catalog {
  top: 13px;
  left: 13px;
  position: absolute;
}

.user-menu-list {
  margin-left: -30px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.open-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.open-page li {
  display: block;
  margin: 21px 21px 21px 21px;
}

.open-page li:first-child {
  margin-left: 55px;
}

.open-page::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 0px;
  top: 27px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
}

.open-page li:first-child::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 30px;
  top: 27px;
  background-image: url("../img/right-page.svg");
  background-repeat: no-repeat;
}

.open-page li:first-child::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 120px;
  top: 27px;
  background-image: url("../img/right-page.svg");
  background-repeat: no-repeat;
}

.open-page li:last-child::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  left: 255px;
  top: 27px;
  background-image: url("../img/right-page.svg");
  background-repeat: no-repeat;
}

.main-title {
  padding: 30px 30px 30px 30px;
  margin-bottom: 20px;
}

.main-title-grid {
  background-color: #f2f6f8;
  width: 100%;
}

.manufactures-grid ul,
.nutrition-grid ul {
  padding: 0;
  margin: 0;
}

.manufactures-grid fieldset,
.nutrition-grid fieldset {
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-top: 22px;
}

.manufactures-grid,
.nutrition-grid {
  border-top: 1px solid #e5e5e5;
}

.manufactures-grid li,
.nutrition-grid li {
  padding-bottom: 18px;
}

.manufactures-grid li:first-child,
.nutrition-grid li:first-child {
  padding-top: 18px;
}

.nutrition-grid li:last-child {
  padding-bottom: 75px;
}

.filters .filter-button {
  border: none;
  background-color: #ffffff;
  padding: 9px 38px 9px 38px;
}

.filter-submit-grid {
  border: 1px solid #c5c5c5;
  max-width: 140px;
}

.filter-submit-grid:hover,
.focus-submit-grid:focus {
  border-color: #bdc6ca;
}

.filter-submit-grid:active {
  border-color: #ee3643;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option {
  margin-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -35px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 23px;
  left: -35px;
  background-image: url("../img/checkbox-on-1.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox+label:hover::before,
.filter-input-checkbox:checked+label:hover::after {
  opacity: 0.7;
}

.filter-input:disabled+label {
  opacity: 0.3;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -35px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -35px;
  top: 0px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-input-radio+label:hover::before,
.filter-input-radio:checked+label:hover::after {
  opacity: 0.7;
}

.filter-input:disabled+label {
  opacity: 0.3;
}

.catalog-item img {
  width: 216px;
  height: 170px;
}

.catalog-item h3 {
  padding: 0;
  margin: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.catalog-item .catalog-price-grid {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.catalog-item-price-former {
  margin: 0;
  padding: 15px 75px 10px 75px;
}

.catalog-item-price {
  color: #ffffff;
  position: relative;
  margin: 10px 75px 35px 75px;
}

.catalog-item-price::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 38px;
  left: -32px;
  top: -10px;
  z-index: -1;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
}

.catalog-list-new {
  position: relative;
}

.catalog-list-new::before,
.main-materialy a::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 59px;
  right: 0;
  top: 0;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
}

.item-without-discount {
  margin-top: 52px;
}

.button-prototype:hover,
.button-prototype:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-prototype:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-shop ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-shop a,
.main-shop-point a {
  display: inline-block;
  position: relative;
  height: 123px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.main-header-bottom {
  padding-bottom: 60px;
}

.main-materialy a {
  background-color: #ffbf47;
  margin-left: 0;
}

.main-materialy a::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 65px;
  top: 30px;
  right: 43px;
  background-image: url("../img/bank.svg");
  background-repeat: no-repeat;
}

.main-instruments a {
  background-color: #3bbce3;
}

.main-instruments a::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
  background-image: url("../img/instruments.svg");
  background-repeat: no-repeat;
}

.main-construction-equipment a {
  background-color: #dc91d8;
  margin-right: 0;
}

.main-construction-equipment a::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url("../img/construction.svg");
  background-repeat: no-repeat;
}

.discount-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.main-discounts a {
  background-color: #8ed78f;
  margin-right: 0;
}

.main-discounts a::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url("../img/truck.svg");
  background-repeat: no-repeat;
}

.main-delivery a {
  background-color: #ffc047;
  margin-right: 0;
}

.main-delivery a::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  background-image: url("../img/car-delivery.svg");
  background-repeat: no-repeat;
}

.main-shop-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider {
  width: 620px;
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 20px;
}

.main-slider p {
  position: absolute;
  padding: 0;
  margin: 0;
}

.main-slider figure {
  margin: 0;
}

.head-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.head-section h2 {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.head-section a {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  display: block;
  padding: 10px 55px;
  background-color: #ee3643;
  margin: 25px 24px;
  border-radius: 5px 5px;
}

.head-section a:hover,
.head-section a:focus {
  background-color: #ca2c37;
}

.head-section a:active {
  background-color: #ba2732;
}

.main-popular-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-popular-product-list .catalog-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-popular-product-list li:nth-child(4n) {
  margin-right: 0;
}

.head-section h3 {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #32425c;
  vertical-align: middle;
  margin-left: 30px;
}

.main-popular-manufactures-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.main-popular-manufactures-list li {
  border: 1px solid #c5c5c5;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-popular-manufactures-list li:nth-child(4n) {
  margin-right: 0;
}

.main-popular-manufactures-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
}

.main-popular-manufactures-list li:hover,
.main-popular-manufactures-list li:focus {
  -webkit-box-shadow: 0 10px 100px 5px #293449;
  box-shadow: 0 10px 100px 5px #293449;
}

.main-popular-manufactures-list li:active {
  opacity: 0.3;
  -webkit-box-shadow: 0 5px 100px 2px #293449;
  box-shadow: 0 5px 100px 2px #293449;
}

.catalog-item p {
  z-index: 1;
}

.modul-price {
  display: none;
  position: fixed;
  width: 622px;
  height: 282px;
  -webkit-box-shadow: 0px 20px 60px 0px black;
  box-shadow: 0px 20px 60px 0px black;
  background-color: #ffffff;
  left: 50%;
  -webkit-transform: translate(-311px, -216px);
  -ms-transform: translate(-311px, -216px);
  transform: translate(-311px, -216px);
  top: 50%;
  z-index: 50;
}

.modul-price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #ff5257;
}

.modul-close-catalog {
  position: absolute;
  width: 21px;
  height: 21px;
  cursor: pointer;
  top: 16px;
  right: 9px;
  background-image: url('./../img/close.svg');
  border: 0;
  background-color: transparent;
  z-index: 40;
}

.modul-price p {
  position: relative;
  margin: 65px 120px 70px 175px;
}

.modul-price p::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: -102px;
  top: -22px;
  background-image: url("../img/mark.svg");
}

.modul-button-order {
  margin-right: 20px;
  border: none;
  border-radius: 5px 5px;
  max-width: 220px;
  padding: 10px 60px;
  color: #ffffff;
  background-color: #ee3643;
}

.modul-button-price {
  max-width: 220px;
  padding: 10px 45px;
  border: none;
  border-radius: 5px 5px;
  background-color: #ffffff;
}

.modul-button-grid {
  background-color: #f1f1f1;
  padding: 40px 80px;
}

.filter-point,
.sorting {
  line-height: 18px;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sorting p {
  margin: 0;
}

.filter-point {
  padding: 10px 150px 10px 19px;
  background-color: #f7f3ec;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 20px;
  padding: 10px 0px 10px 20px;
  background-color: #f7f3ec;
  position: relative;
}

.sorting-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting-list {
  width: 355px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 140px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting-list .sorting-point {
  opacity: 0.3;
  border-bottom: 1px dashed #ee3643;
}

.sorting-list .sorting-point:hover,
.sorting-list .sorting-point:focus {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
  ;
}

.sorting-list .sorting-point:active,
.sorting-list .current {
  color: #ee3643;
  border: none;
}

.up,
.down {
  position: absolute;
  opacity: 0.3;
}

.up {
  right: 49px;
  top: 10px;
}

.down {
  right: 17px;
  top: 10px;
}

.up:hover,
.up:focus,
.down:hover,
.down:focus {
  opacity: 1;
}

.up path:active,
.down path:active {
  fill: #ee3643;
}

.current-up {
  opacity: 1;
}

.current-up path {
  fill: #ee3643;
}

.sorting-grid .filter-point {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.pagination-list {
  line-height: 18px;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0px 415px 60px 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination-list a {
  color: inherit;
}

.pagination-list a {
  border: 1px solid #c5c5c5;
  padding: 9px 14px;
  margin-right: 10px;
  border-radius: 3px 3px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  border-color: #ee3643;
}

.pagination-list .next {
  padding: 9px 30px;
  margin: 0;
}

.pagination-list .current {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #ffffff;
}

.punch-definition {
  line-height: 24px;
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: normal;
  background-color: #f2f6f8;
  padding: 65px 0px 70px 0px;
}

.punch-definition p {
  margin: 0;
  margin-top: 30px;
}

.punch-definition b {
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum";
  color: #000000;
  text-transform: uppercase;
}

.main-shop b,
.main-shop-bottom b {
  display: block;
  line-height: 30px;
  font-size: 24px;
  font-family: "Cuprum";
  font-weight: bold;
  color: #ffffff;
  margin: 20px 140px 17px 22px;
}

.button-prototype p {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}

.button-prototype {
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  height: 38px;
  border-radius: 2px 2px;
  margin: 10px 140px 20px 25px;
}

.catalog-list li {
  position: relative;
}

.catalog-item-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.catalog-item-buy .button-buy {
  position: relative;
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 45px 9px 49px;
  background-color: #63a63e;
  -webkit-box-shadow: 0px 3px 0px 0px #367315;
  box-shadow: 0px 3px 0px 0px #367315;
  border-radius: 2px 2px;
  margin-bottom: 10px;
}

.catalog-item-buy .button-buy::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-image: url("./../img/basket.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-item-buy .button-bookmarks {
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  padding: 7px 27px 7px 31px;
}

.catalog-item-buy-grid {
  display: none;
  margin: 40px 42px 45px 41px;
  max-width: 135px;
  max-height: 83px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.catalog-item:hover .catalog-item-img {
  display: none;
}

.catalog-item:hover .catalog-item-buy-grid {
  display: block;
}

.catalog-item-buy .button-bookmarks:hover,
.catalog-item-buy .button-bookmarks:focus {
  border-color: #32425c;
}

.catalog-item-buy .button-bookmarks:active {
  opacity: 0.3;
}

.catalog-item-buy .button-buy:hover,
.catalog-item-buy .button-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-buy .button-buy:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-bottom: 12px;
  margin-bottom: 7px;
  background-color: #518534;
}

.catalog-item-buy .button-buy:hover::before,
.catalog-item-buy .button-buy:active::before {
  opacity: 1;
}

.hidden {
  display: block;
  animation-name: move;
  animation-duration: 0.8s;
}

.hidden-map {
  display: block;
  animation-name: move-map;
  animation-duration: 0.8s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-311px, -500px);
    transform: translate(-311px, -500px);
  }

  100% {
    -webkit-transform: translate(-311px, -216px);
    transform: translate(-311px, -216px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-311px, -500px);
    transform: translate(-311px, -1000px);
  }

  70% {
    transform: translate(-311px, -185px);
  }

  90% {
    transform: translate(-311px, -226px);
  }

  100% {
    -webkit-transform: translate(-311px, -216px);
    transform: translate(-311px, -216px);
  }
}

@-webkit-keyframes move-map {
  0% {
    -webkit-transform: translate(-460px, -500px);
    transform: translate(-460px, -500px);
  }

  100% {
    -webkit-transform: translate(-460px, -216px);
    transform: translate(-460px, -216px);
  }
}

@keyframes move-map {
  0% {
    -webkit-transform: translate(-460px, -500px);
    transform: translate(-460px, -1000px);
  }

  70% {
    transform: translate(-460px, -185px);
  }

  90% {
    transform: translate(-460px, -226px);
  }

  100% {
    -webkit-transform: translate(-460px, -216px);
    transform: translate(-460px, -216px);
  }
}

.all-modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.main-slider p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Cuprum";
  color: #ffffff;
  margin: 25px
}

.main-slider b {
  line-height: 36px;
  font-size: 36px;
  font-family: "Cuprum";
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.main-slider a {
  position: absolute;
  line-height: 18px;
  font-size: 14px;
  font-family: "Cuprum";
  color: #ffffff;
  padding: 10px 45px;
  background-color: #ee3643;
  border-radius: 5px 5px;
  z-index: 30;
  margin-top: 205px;
  margin-left: 25px;
}

.gallery-button-back {
  background-image: url("./../img/back.svg");
  background-repeat: no-repeat;
  background-size: 22px 45px;
  border: none;
  opacity: 1;
  position: absolute;
  bottom: 125px;
  z-index: 50;
  width: 22px;
  height: 45px;
  left: 20px;
  background-color: transparent;
  cursor: pointer;
}

.gallery-button-next {
  background-image: url("./../img/next.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 45px;
  border: none;
  opacity: 1;
  position: absolute;
  bottom: 125px;
  right: 20px;
  z-index: 50;
  background-color: transparent;
  cursor: pointer;
}

.slider-content-1 {
  position: absolute;
  z-index: 10;
}

.slider-content-2_hidden {
  position: absolute;
  z-index: 20;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
}

.filter-item legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  margin: 0 20px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 130px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-controls input {
  width: 95px;
  height: 38px;
  line-height: 18px;
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
  margin-bottom: 25px;
}

.price-controls input:first-child {
  margin-right: 10px;
}

.price-controls input:last-child {
  margin-left: 10px;
}

.line {
  margin-top: 19px;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

.basket-grid-catalog .current {
  background-color: #ee3643;
}

.basket-grid-catalog .current-icon circle,
.basket-grid-catalog .current-icon path {
  opacity: 0.3;
  fill: #ffffff;
}

.basket-grid-catalog a:hover circle,
.basket-grid-catalog a:hover path {
  opacity: 1;
}
